.react-tooltip {
    box-shadow: 2px 2px 2px black;
    border: 1px solid gray;
    background-color: whitesmoke !important;
    padding: 2px !important;
}
.tooltip {
    color: black;
}
.tooltip-col {
    display: flex;
    flex-direction: column;
    width: 33%;
    /* border: 1px blue solid; */
    align-items: start;
    justify-content: center;
}
.tooltip-col * {
    /* border: 1px green solid; */
    margin: 0 !important;
    padding-top: 5px;
}
.tooltip strong {
    color: black;
}
.dbox {
    background-color: lightblue;
    min-width: 60px;
    margin-top: 5px;
}
.rbox {
    background-color: lightcoral;
    min-width: 60px;
    margin-top: 5px;
}
