.App {
    div p {
        margin: 5px;
    }
}
.state-row {
    display: flex;
    flex-direction: row;
}
.state {
    fill: #d0d0d0;
    stroke: #ffffff;
    stroke-width: 1;
}
.state *:hover {
    stroke-width: 3;
}
.too-early {
    fill: #edc9af;
}
.called-blue {
    fill: blue;
}
.called-red {
    fill: red;
}
.leaning-blue {
    fill: lightblue;
}
.leaning-red {
    fill: lightcoral;
}
.no-race {
    fill: whitesmoke;
}
